# Default ignored files

/mysql-data/*

/logs/nginx/access.log
/logs/nginx/application.access.log
/logs/nginx/error.log

# composer
/composer.phar
/vendor

# IDEs
/.idea
*.iml
*~

# System files
.DS_Store
/.buildpath
/.project
